.editor-wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.module-list {
  display: flex;
  flex-direction: column;
}

.modules-list-header {
  font-size: 11px;
  background: #444562;
  color: #ffffff;
  padding: 5px 10px;
}

.module-box {
  border: 1px dashed rgba(244, 244, 244, 0.25);
  flex: 1 1 auto;
  width: 100%;
  padding: 10px;
  position: relative;
  transition: transform .2s;
}

.module-box:hover{
  transform: scale(1.05);
  background:rgba(255, 255, 255, 0.16);
  z-index: 1000;
  cursor: pointer;
}

.module-box .message {
  color: #70709e;
}

.module-box .btn-delete {
  border: 0;
  border-radius: 50%;
  background: #2222229e;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 24px;
  width: 24px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1000;
}

.template-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.template-wrapper .item {
  width: 50%;
  min-width: 100px;
  height: 230px;
  margin-bottom: 40px;
}

.website-url {
  margin-right: 20px;
  background: #4b4b67;
  color: #03a9f4;
}

.saved-successfully {
  position: absolute;
  top: 0px;
  right: 0;
  font-size: 12px;
  padding: 0 10px;
  color: #3dc581;
}

.website-url-wrapper {
  position: relative;
  width: 100%;
  margin-right: 20px;
}

[class^="image-template"],
[class*="image-template"] {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .2s;
}

[class^="image-template"]:hover,
[class*="image-template"]:hover {
  transform: scale(1.05);
  z-index: 1000;
  cursor: pointer;
}

.image-template-1 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-2 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-3 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-4 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-5 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-6 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-7 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-8 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-9 {
  background-image: url('../../assets/preview/image-template-1.png');
}

.image-template-10 {
  background-image: url('../../assets/preview/image-template-1.png');
}