.editor-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.module-list {
    display: flex;
    flex-direction: column;
}

.module-box {
    border: 1px dashed rgba(244, 244, 244, 0.25);
    flex: 1 1 auto;
    width: 100%;
    padding: 20px;
}

.module-box .message {
    color: #70709e;
}