
.mod-run {
  min-height: 100%;
  padding: 20px;
}

.mod-run .mod-box {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
}

.mod-run .mod-row {
  margin-bottom: 20px;
}

.mod-btn {
  background: #3e5b77;
  color: #ffffff;
  border: 0;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  white-space: nowrap;
  border: 1px solid violet;
}

a.mod-btn {
  margin-right: 5px;
}

.mod-btn.mod-small {
  padding: 5px 10px;
  font-size: 12px;
}

.mod-inp {
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 500px;
  border: 0;
  height: 40px;
}

textarea.mod-inp {
  padding: 10px;
  height: 100px;
}

.no-click-event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  border: 2px solid blue;
  background-color: #008bff7d;
}