.mod-image {
  color: #ffffff;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mod-image .mod-large {
  width: 100%;
}

.mod-image .mod-medium {
  width: 80%;
}

.mod-image .mod-small {
  width: 50%;
}

.mod-image .mod-ultra-small {
  width: 30%;
}