.module-image {
    padding: 0 10px;
    color: #ffffff;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.module-image .large {
    width: 100%;
}

.module-image .medium {
    width: 80%;
}

.module-image .small {
    width: 50%;
}