.module-social-network {
  color: #ffffff;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

[class^="icon-"],
[class*="icon-"] {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.icon-facebook {
  background-image: url('../../../assets/icon-facebook.svg');
}

.icon-twitter {
  background-image: url('../../../assets/icon-twitter.svg');
}

.icon-instagram {
  background-image: url('../../../assets/icon-instagram.svg');
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
}

.module-social-network .btn {
  flex: 1 1 auto;
  margin: 0 10px;
}