.mod-title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mod-title-description .mod-title {
  font-size: 26px;
  width: 100%;
  text-align: center;
}

.mod-title-description .mod-description {
  font-size: 18px;
  width: 100%;
  text-align: center;
}