.module-title-description {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.module-title-description .title {
    font-size: 26px;
    width: 100%;
    text-align: center;
}

.module-title-description .description {
    font-size: 18px;
    width: 100%;
    text-align: center;
}