.header {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #ff006b;
    color: #ffffff;
    position: relative;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.15);
    z-index: 100;
    position: fixed;
    width: 100%;
}

.logo {
    width: 32px;
}

.search {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 1 auto;
}

.icon-menu {
    display: flex;
    height: 20px;
    width: 20px;
}

.search-list-result {
    position: absolute;
    left: 0;
    top: 42px;
    width: 100%;
    padding: 0 20px;
}

.search-list-wrapper {
    background: #f4f4f4;
    color: #222222;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.search-list-wrapper .item {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.search-list-wrapper .item:last-child {
    padding: 10px 20px;
    border-bottom: 0;
}

.search-list-wrapper .item a{
    color: #f90c6c;
}

.input-search {
    border: 0;
    width: 100%;
    height: 32px;
    font-size: 20px;
    color: #ffffff;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 0;
    outline: none;
}

.input-search::placeholder{
    color: rgba(255, 255, 255, 0.75);
}

input[type=text]:focus, textarea:focus {
    border-bottom: 1px solid #ffffff;
}