body, html {
  background: black;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: block;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #03A9F4;
}

.row {
  width: 100%;
  padding-bottom: 20px;
}

.inp {
  border: 1px solid red;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 500px;
}

.btn {
  background: #2a94fa;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  width: fit-content;
}

a.btn {
  margin-right: 5px;
}

.btn-primary {
  background: #00ea94;
  color: #ffffff;
}

.btn-secondary {
  background: #2a94fa;
  color: #ffffff;
}

.box-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.container-header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid #4e4e6f;
  margin-bottom: 20px;
}

.table-list {
  /*border: 1px solid #ffffff;*/
  width: 100%;
}

.table-list .item {
  border-bottom: 1px solid #4e4e6f;
  display: flex;
}

.table-list .col {
  border-right: 1px solid #4e4e6f;
  padding: 20px;
  flex: 1 1 auto;
}

.table-list .col:last-child {
  border-right: 0px solid;
}

.width-1 {
  width: 10%;
}

.width-2 {
  width: 20%;
}

.width-3 {
  width: 30%;
}

.width-4 {
  width: 40%;
}

.width-5 {
  width: 50%;
}