body, html {
  background: black;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: block;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #03A9F4;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.inp {
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 500px;
  border: 0;
  height: 40px;
}

textarea.inp {
  padding: 10px;
  height: 100px;
}

.btn {
  background: #3e5b77;
  color: #ffffff;
  border: 0;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  white-space: nowrap;
}

a.btn {
  margin-right: 5px;
}

.center-right {
  justify-content: flex-end;
}

.btn.small {
  padding: 5px 10px;
  font-size: 12px;
}

.btn.large-full {
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
}

.btn-primary {
  background: #1fc588;
  color: #ffffff;
}

.btn-danger {
  background: #ff6868;
  color: #ffffff
}

.btn-circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.btn-secondary {
  background: #2a94fa;
  color: #ffffff;
}

.center-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.container-header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid #4e4e6f;
  margin-bottom: 20px;
}

.container-header .right {
  width: 50%;
  display: flex;
}

.container-content {
  margin: 20px;
}

.table-list {
  /*border: 1px solid #ffffff;*/
  width: 100%;
}

.table-list .item {
  border-bottom: 1px solid #4e4e6f;
  display: flex;
}

.table-list .col {
  padding: 20px;
  flex: 1 1 auto;
  word-break: break-all;
  display: flex;
  align-items: center;
}

.table-list .col:last-child {
  border-right: 0px solid;
}

[class^="col-"],
[class*=" col-"] {
  flex: 1 1 auto;
  margin-right: 10px;
}

[class^="col-"]:last-child,
[class*=" col-"]:last-child {
  flex: 1 1 auto;
  margin-right: 0;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.col-6 {
  width: 16.66%;
}

.col-7 {
  width: 14.28%;
}

.col-8 {
  width: 12.5%;
}

.box-wrapper {
  border: 1px solid rgba(244, 244, 244, 0.25);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.box-header {
  min-height: 60px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(244, 244, 244, 0.25);
}

.box-container {
  overflow: auto;
  flex: 1 1 auto;
}

.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  border-radius: 5px;
  background-color: #323246;
  color: #ffffff;
  width: auto;
  height: auto;
  min-width: 500px;
  min-height: 100px;
}

.modal-box .modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  font-size: 22px;
}

.modal-box .modal-content {
  padding: 20px;
}

.modal-box .modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 255, 255, .25);
  font-size: 22px;
}

.hidde-element {
  display: none;
}

.loading-spinner {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  background-image: url('./assets/loading-spinner.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.notification {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  width: 80%;
  height: 60px;
  min-width: 200px;
  max-width: 600px;
  background: #f4f4f4;
  color: #222222;
  border-radius: 10px;
  padding: 20px;
  height: auto;
}

.notification.alert {
  background: #ffe8e8;
  color: #ff5555;
}

[class^="icon-"],
[class*="icon-"] {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
}

[class^="icon-"].space,
[class*="icon-"].space {
  margin-right: 10px;
}

.icon-edit {
  background-image: url('./assets/icon-edit.svg');
}

.icon-trash {
  background-image: url('./assets/icon-trash.svg');
}

.icon-key {
  background-image: url('./assets/icon-key.svg');
}

.icon-logout {
  background-image: url('./assets/icon-logout.svg');
}

.icon-save {
  background-image: url('./assets/icon-save.svg');
}

.no-image {
  background-image: url('./assets/no-image.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 100px;
}

.inline {
  display: flex;
  flex-direction: row;
}