body, html {
  background: black;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: block;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #03A9F4;
  cursor: pointer;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.inp {
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 500px;
  border: 0;
  height: 40px;
}

textarea.inp {
  padding: 10px;
  height: 100px;
}

.btn {
  background: #3e5b77;
  color: #ffffff;
  border: 0;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  white-space: nowrap;
}

a.btn {
  margin-right: 5px;
}

.btn-transparent {
  background-color: transparent;
}

.center-right {
  justify-content: flex-end;
}

.btn.small {
  padding: 5px 10px;
  font-size: 12px;
}

.btn.large-full {
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
}

.btn-primary {
  background: #1fc588;
  color: #ffffff;
}

.btn-danger {
  background: #ff6868;
  color: #ffffff
}

.btn-circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.btn-secondary {
  background: #2a94fa;
  color: #ffffff;
}

.center-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.container-header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid #4e4e6f;
  margin-bottom: 20px;
}

.container-header .right {
  width: 50%;
  display: flex;
}

.container-content {
  margin: 20px;
}

.table-list {
  width: 100%;
}

.table-list .table-header {
  display: flex;
  color: #69809a;
}

.table-list .item {
  display: flex;
  min-height: 48px;
  transition: transform .2s;
}

.table-list .item:hover{
  /*transform: scale(1.01);*/
  background:rgba(255, 255, 255, 0.16) !important;
  z-index: 1000;
}

.table-list .item.selected {
  background-color: #466082 !important;
  display: flex;
}

.table-list .col {
  padding: 5px 20px;
  flex: 1 1 auto;
  word-break: break-all;
  display: flex;
  align-items: center;
}

.table-list .item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-list .col:last-child {
  border-right: 0px solid;
}

[class^="col-"],
[class*=" col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-center {
  display: flex;
  align-items: center;
}


.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.box-wrapper {
  border: 1px solid rgba(244, 244, 244, 0.25);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.box-header {
  min-height: 30px;
  width: 100%;
  padding: 0 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(244, 244, 244, 0.25);
}

.box-container {
  overflow: auto;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.hidde-element {
  display: none;
}

.loading-spinner {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  background-image: url('./assets/loading-spinner.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.notification {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  width: 80%;
  height: 60px;
  min-width: 200px;
  max-width: 600px;
  background: #f4f4f4;
  color: #222222;
  border-radius: 10px;
  padding: 20px;
  height: auto;
}

.notification.alert {
  background: #ffe8e8;
  color: #ff5555;
}

[class^="icon-"],
[class*="icon-"] {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
}

[class^="icon-"].space,
[class*="icon-"].space {
  margin-right: 10px;
}

.icon-create-website {
  background-image: url('./assets/icon-create-website.svg');
}

.icon-close {
  background-image: url('./assets/icon-close.svg');
  width: 24px;
  height: 24px;
}

.icon-edit {
  background-image: url('./assets/icon-edit.svg');
}

.icon-trash {
  background-image: url('./assets/icon-trash.svg');
}

.icon-key {
  background-image: url('./assets/icon-key.svg');
}

.icon-logout {
  background-image: url('./assets/icon-logout.svg');
}

.icon-save {
  background-image: url('./assets/icon-save.svg');
}

.no-image {
  background-image: url('./assets/no-image.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 100px;
}

.inline {
  display: flex;
  flex-direction: row;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #26282b;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
  background-color: #484863; 
}

.tooltip-wrapper {
  position: absolute;
  margin-top: -20px;
}

.tooltip {
  position: relative;
  background: #3dc581;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
  z-index: 1000;
}

.tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #3dc581;
	border-width: 10px;
  margin-left: -10px;
}