.create-website-wrapper {
  border: 1px solid red;
}

.create-website-wrapper [class^="template-"],
.create-website-wrapper [class*="template-"] {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: -webkit-fill-available;
  height: 200px;
}

.create-website-wrapper .template-download-app {
  background-image: url('./../../assets/templates/template-download-app.png');
}